
/*label{	
	text-align: right;
}*/
* {
  box-sizing: border-box;
}


/*div .container {
  display: flex;
  flex-direction: column;
  justify-content-center; 
  align-items-center; 
}
*/

.form-control {
    border-radius: 15px;
}
.btn{
	background-color: #f4100d;
	border-radius: 15px;
}
#form-title{
	font-size: 30px;
}

.container-fluid-nav{
	margin:20px;
}

form{
	margin: 150px;
}

#mytitle{
	background-color: yellow;
}
