
/*label{	
	text-align: right;
}*/
* {
  box-sizing: border-box;
}

div.container {
  display: flex;
  flex-direction: column; 
  justify-content-center; 
  align-items-center; /
}

.form-control {
    border-radius: 15px;
}

.btn{
	background-color: #f4100d;
	border-radius: 15px;
}

#form-title{
	font-size: 30px;
}

.container-fluid-nav{
	margin:20px;
}

div form{
	margin: 80px;
	width: 35%;
}

#mytitle{
	background-color: yellow;
}

nav.navbar{
	background-color:#f4100d ;
}
nav a.navbar-item:hover{
	color:white;
}

nav a.navbar-item{
	color:white;
}

nav div a.navbar-brand{
	color:white !important;
}

button.navbar-toggler{
	color:white !important;
}

li a.nav-link:hover{
	color: white;
}
li a.nav-link{
	color: white !important;
}

nav.fixed-bottom{
	background-color: black !important;
	top:880px !important;
}

.mybottomnav{
	overflow: hidden;
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: black;
}

.mybottomnav a:hover{
	color:white;
}
.mybottomnav a{
	color: white;
	margin: 0px 10px;
}

button.btn{
	color:white;
}
